/*FONT*/
.font-link{
  font-family: 'Alegreya';
}

h2, li, ul, button, h3, label, h4, h1, p, a, h5{
  font-family: 'Alegreya';
  color: #59493b;
  text-decoration: none;
}

/*ARCHDECO TITLE*/
.title{
  text-align: inherit;
    color:#F0DED0;
    text-shadow: rgb(204 204 204) 1px 1px;
    font-size: 72px;
    font-weight: 100;
    letter-spacing: 0px;
    transition: none 0s ease 0s;
    line-height: 118px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

.text-link {
  color: #59493b;
  text-decoration: none;
}

.text-link:hover {
  color: #59493b;
  text-decoration: none;
}


/*CONTACT BUTTON */
.submitBtn{
  color: #635344;
}


/*BUTTON STYLING */
.beforeAfterBtn {
  align-items: center;
  background-color: #F0DED0;
  border: 2px solid #635344;
  border-radius: 8px;
  box-sizing: border-box;
  color: #635344;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.beforeAfterBtn:after {
  background-color: #635344;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.beforeAfterBtn:hover:after {
  transform: translate(0, 0);
}

.beforeAfterBtn :hover {
  outline: 0;
}

@media (min-width: 768px) {
  .beforeAfterBtn {
    padding: 0 40px;
  }
}

/*PICTURE BORDER STYLING */
.frame {
  position: relative;
  width: 60%;
  padding-bottom: 46.5%;
  background: #635344;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
}

.mat {
  position: absolute;
  background: #e8e5e3;
  top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
}

.art {
  position: absolute;
  top: 16.129%; bottom: 16.129%; left: 13.158%; right: 13.158%;
}

.art img {
  max-height: 100%;
  max-width: 80%;
}

/*HOME PAGE */
.profile{
  background-color: #F0DED0;
  /* background-color: #e4d4c4; */
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;

  padding-left: 80px;
  padding-right: 80px;

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 120px 20px 120px 20px;

}

.profilePic{
  width: 38%;
  padding-left: 27px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 120px 20px 120px 20px;

  
}

.hours{
  border-radius: 120px 20px 120px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 120px 20px 120px 20px;
  width: 50%;
}

.ptag {
  font-family: 'Alegreya';
  color: #59493b;
  margin-left: 10px;
  margin-left: 70px;
  margin-right: 50px;
}

/*ORIGINAL*/
.App {
    text-align: center;
  }

/*LOGO*/
  .video{
    height: 600px;
    width: 100%;
  }

/*FAQ*/
.faq-heading{
    border-bottom:  #59493b;
    padding: 20px 60px;
} 
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}


/* Style the buttons that are used to open and close the faq-page body */
.faq-page { 
    color: #59493b;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
} 
.faq-body{ 
    margin: auto; 
    text-align: center;
   width: 50%; 
   padding: auto;
   
} 

.active,
.faq-page:hover {
    background-color: #F0DED0;
} 

.faq-body {
    padding: 0 18px;
    background-color: #F0DED0;
     overflow: hidden;
}
.faq-page:after {
    font-size: 13px;
    color: #59493b;
    float: right;
    margin-left: 5px;
} 

.instagramlogo{
  width: 100px;
}

.appointment-list-component{
margin-top: 90px;
}

div {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.serviceDetsCont{
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.imgDets{
  max-height: 100%;
  max-width: 99%;
  /* max-width: 126%; */
  margin-left: 139px;

  border-radius: 5px;
}

.verticalLine {
  position: absolute;
  background-color: #59493b;
  width: 6px;
  top: 104px;
  bottom: 107px;
  left: 50%;
}

.CrtApt{
  width: 50%;
  margin-left: 290px;
  margin-top: 20px;
}


a:link{
  text-decoration: none;
}